<div *ngIf="loading" class="loading-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && items.length > 0" class="card-container">
<mat-card *ngFor="let item of items" class="stock-card">
  <h3>{{ item.make }} {{ item.model }} ({{ item.modelYear }})</h3>
  <p><strong>Reg:</strong> {{ item.regNo }}</p>
  <p><strong>KMS:</strong> {{ item.kms }}</p>
  <p><strong>Colour:</strong> {{ item.colour }}</p>
  <p><strong>VIN:</strong> {{ item.vin }}</p>
  <p><strong>Retail:</strong> R{{ item.retailPrice | number:'1.0-0' }}</p>

  <div *ngIf="item.images && item.images.length > 0" class="thumbnails">
    <img
      *ngFor="let img of item.images"
      [src]="'data:image/png;base64,' + img.data"
      class="thumbnail"
      (click)="openGallery(item.images)"
    />
  </div>
</mat-card>
</div>

